<!DOCTYPE html>
<html>
<head>
    <title>EJS esimerkki</title>
</head>
<body>
    <%- include('_header') %>
    <h1><%= message %></h1>
    <% if (isLoggedIn) { %>
        <p><strong>Olet kirjautunut sis채채n</strong></p>
      <% } else { %>
        <p><strong>Et ole kirjautunut sis채채n</strong></p>
      <% } %>
    <ul>
         <% items.forEach(function(item) { %>
          <li><%= item %></li>
        <% }); %>
    </ul>
    <%- include('_footer') %>
</body>
</html>
